html {
    font-family: 'Roboto', sans-serif;
}

.main {
    margin-top: 75px;

}

.counter_box {
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    height: 25px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #FF0000;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    height: 50px;
}

ul {
    list-style: none;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #F2FEFE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 1em;
}

/* Change color on hover */
.topnav a:hover {
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    height: 22px;
}

#table {
    border-collapse: collapse;
    width: 100%;
    height: 20px;
   overflow: hidden;
}

.table_list {
    overflow: hidden;
}


#table td,
#table th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: lightblue;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF0000;
    color: #F2FEFE;
}


#myInput {
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 15px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    border-radius: 12px;
    margin-right: 55px;
}

#amount-counter {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

#create_new {
    border-radius: 10px;
    background-color: #FF0000;
    border: none;
    color: #F2FEFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 30px;
}

#create_new:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

#top-search {
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 25px;
}

#input {
    width: 100%;
}

#input_field {
    font-size: 16px;
    margin: 10px 10px 25px 0px;
}

#input-label {
    text-align: left;
}

#Submit {
    border-radius: 10px;
    background-color: #FF0000;
    border: none;
    color: #F2FEFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 30px;
}

#Submit:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

#input-section {
    display: flex;
    margin: 20px;
}

.container {
  margin-top: 100px;
  margin-left: 25px;
}

fieldset {
  margin-top: 50px;
}

.DataSearch {
    text-align: center;
}

.home {
    background-image: url('/static/picture/fireman.jpg');
    background-size: cover;
    margin-top: 200px;
}