{% extends "layout.html" %}
{% block content %}
<section id="main">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
    <button type="button" id="create-new">Add New Contact</button>
    <table id="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail Adress</th>
            <th>Phone Number</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Adress</th>
            <th>Inventory Check</th>
            <th>Courses</th>
        </tr>
        <tr>
            <td>Jan Lucca</td>
            <td>Doerrstein</td>
            <td>doerrstein.lucca@yahoo.de</td>
            <td>+49 6074 / 6805571</td>
            <td>+49 171 5496 100</td>
            <td>Male</td>
            <td>Frankfurter Allee 29, Berlin</td>
            <td>Passed</td>
            <td>Grund-, Funk-, Kettensaegen-, Atemschutz-</td>
        </tr>
    </table>
</section>
{% endblock content %}