{% extends "layout.html" %}
{% block content %}
<div id="top-search">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
    <button type="button" id="create_new" onclick="window.location.href ='{{ url_for('create_new_item') }}';">Add New Iteam</button>
    <button type="button" id="create_new" onclick="window.location.href ='{{ url_for('search_inventory') }}';">Detailed Search</button>
</div>
<div class="table_parent">
    <table id='table'>
        <div class="table_child">
            <tr>
                <th>Item Number</th>
                <th>Item Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Location</th>
                <th>Price</th>
                <th></th>
            </tr>
        </div>
        <div class="table_list">
            {% for item in inventory %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.typ }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.price }}</td>
                <td> <form action="/inventory" method="post"> <input style="display: none;" type="text" value="{{ item.id }}" name="id"> <input type="submit" value="Delete" name="submitdelete"></form> </td>
            </tr>
            {% endfor %}
        </div>
    </table>
    <div>
        {% endblock content %}