{% extends "layout.html" %}
{% block content %}
<section id="main">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
    <button type="button" id="create-new">Add New Item</button>
    <table id="table">
        <tr>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>Owner</th>
            <th>Type</th>
            <th>Status</th>
            <th>Location</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>6578541</td>
            <td>Fireproof Jacket Beisser v3</td>
            <td>Lucca Doerrstein</td>
            <td>Jacket</td>
            <td>Lent</td>
            <td>NONE</td>
            <td>199,89 $</td>
        </tr>
    </table>
</section>
{% endblock content %}